/**
 * @name Theme Name
 * @version 1.0.0
 * @description A description of your theme.
 * @author Theme Author
 * @website https://betterdiscord.app/
*/
@import url(https://benbenbenben404.github.io/themes/floating_panels.css);
:root {
    --panelMargin:1px;
    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 20px);
  
    --columns: 2;
    --guildsize: 52;
    --guildgap: 6;
    --aligndms: 0;

    }
